In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/root/autodl-tmp/wq/RS_Keras/data/Sohu2022_data/rec_data/test-dataset.csv')

In [3]:
data.head()

,testSampleId,pvId,suv,itemId,userSeq,logTs,operator,browserType,deviceType,osType,province,city
0,5000001,1640655422697H3zq4ze,16412563805927MMCH5,10113821,NaN,1641257054454,2224589,3619320,2326891,3585570,3826939,2414137
1,5000002,1640655422697H3zq4ze,16412563805927MMCH5,10123383,NaN,1641257039412,2224589,3619320,2326891,3585570,3826939,2414137
2,5000003,1640655422697H3zq4ze,16412563805927MMCH5,10113964,NaN,1641256862448,2224589,3619320,2326891,3585570,3826939,2414137
3,5000004,1640655422697H3zq4ze,16412563805927MMCH5,10124534,NaN,1641256863017,2224589,3619320,2326891,3585570,3826939,2414137
4,5000005,1640655422697H3zq4ze,16412563805927MMCH5,10107295,NaN,1641256818096,2224589,3619320,2326891,3585570,3826939,2414137

In [4]:
def split_item(one_data):
    tmp_item_list = []
    for one_item in str(one_data).split(";"):  
        tmp_item_list.append(one_item.split(':')[0])
    return tmp_item_list

In [5]:
def split_time(one_data):
    tmp_time_list = []
    for one_item in str(one_data).split(";"):  
        tmp_time_list.append(one_item.split(':')[-1])
    return tmp_time_list

In [6]:
data['item_list'] = data.userSeq.apply(split_item)

In [7]:
data['time_list'] = data.userSeq.apply(split_time)

In [8]:
all_item_list = []
for item_list in data['item_list']:
    all_item_list.append(item_list)

In [9]:
from gensim.models import Word2Vec

train_model = Word2Vec(all_item_list, vector_size=50, window=5, min_count=1, workers=4)
train_model.save('./item2vec_model_1')

train_model.wv.save_word2vec_format('./item2vec_model_1.txt', binary=False)

In [18]:

with open("/root/autodl-tmp/wq/RS_Keras/NLP/item2vec_model_1.txt", "r") as f:
    data = f.readlines()

In [25]:
data[1].strip('\n')

'10107295 4.8542876 0.94533473 -2.1376724 0.48599917 -1.2650611 0.97764015 4.4352145 2.2777581 -5.7036996 -0.16201553 -2.279153 -1.4311581 -0.61247367 3.6855762 1.2098246 1.2522758 -2.0486436 -2.6644979 -1.4105889 2.7804 -3.8610468 -0.91787905 1.7842959 1.7428234 2.2724113 -2.6854274 0.93561834 1.47451 -5.551477 2.5907621 -4.166746 -1.312267 -9.119289 3.4527733 4.7039742 -4.1821933 0.90729576 3.0419197 -1.2545053 -0.2833968 0.19055784 0.6913238 0.4439216 10.245984 3.6794252 -3.6153827 3.2352345 -5.6665463 7.218019 0.49326256'

In [23]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
tmp_1 = np.array([1,2,3,4]).reshape(1,-1)
tmp_2 = np.array([1,2,3,5]).reshape(1,-1)
cosine_similarity(tmp_1,tmp_2)

array([[0.99399909]])