In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/root/autodl-tmp/wq/RS_Keras/data/Sohu2022_data/rec_data/test-dataset.csv')

In [3]:
data.head()

,testSampleId,pvId,suv,itemId,userSeq,logTs,operator,browserType,deviceType,osType,province,city
0,5000001,1640655422697H3zq4ze,16412563805927MMCH5,10113821,NaN,1641257054454,2224589,3619320,2326891,3585570,3826939,2414137
1,5000002,1640655422697H3zq4ze,16412563805927MMCH5,10123383,NaN,1641257039412,2224589,3619320,2326891,3585570,3826939,2414137
2,5000003,1640655422697H3zq4ze,16412563805927MMCH5,10113964,NaN,1641256862448,2224589,3619320,2326891,3585570,3826939,2414137
3,5000004,1640655422697H3zq4ze,16412563805927MMCH5,10124534,NaN,1641256863017,2224589,3619320,2326891,3585570,3826939,2414137
4,5000005,1640655422697H3zq4ze,16412563805927MMCH5,10107295,NaN,1641256818096,2224589,3619320,2326891,3585570,3826939,2414137

In [3]:
def split_item(one_data):
    tmp_item_list = []
    for one_item in str(one_data).split(";"):  
        tmp_item_list.append(one_item.split(':')[0])
    return tmp_item_list

In [5]:
def split_time(one_data):
    tmp_time_list = []
    for one_item in str(one_data).split(";"):  
        tmp_time_list.append(one_item.split(':')[-1])
    return tmp_time_list

In [4]:
data['item_list'] = data.userSeq.apply(split_item)

:

:

In [6]:
data['time_list'] = data.userSeq.apply(split_time)

In [ ]:
all_item_list = []
for item_list in data['item_list']:
    all_item_list.append(item_list)

NameError: name 'data' is not defined

In [2]:
from gensim.test.utils import common_texts
from gensim.models import Word2Vec

print(common_texts)
train_model = Word2Vec(common_texts, vector_size=100, window=5, min_count=1, workers=4)
train_model.save('./MyModel')

train_model.wv.save_word2vec_format('./mymodel.txt', binary=False)

[['human', 'interface', 'computer'], ['survey', 'user', 'computer', 'system', 'response', 'time'], ['eps', 'user', 'interface', 'system'], ['system', 'human', 'system', 'eps'], ['user', 'response', 'time'], ['trees'], ['graph', 'trees'], ['graph', 'minors', 'trees'], ['graph', 'minors', 'survey']]